<!doctype html>
<html ng-app="plunker">
	<head>
		<title>Hello AngularJS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    	<script src="js/GenreicController.js"></script>
	</head>

<body ng-controller="MovieListController">
<h3>MovieDB</h3>
<table width="100%" class="table" border="1px">
 <thead>
  <tr>
   <th ng-repeat="(header, value) in results[0]">{{header}}</th>
  </tr>
 </thead>
 <tbody>
  <tr ng-repeat="row in results">
   <td ng-repeat="cell in row">{{cell}}</td>
  </tr>
 </tbody>
</table>
<br /><br/>
<button ng-click="redirect()">Add Movies</button>
</body>
</html>